.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 200px;
    gap: 12px;
    margin: 8px;
}

.card {
    border: 1px solid rgb(150, 150, 150);
    padding: 12px;
}

.bookTitle {
    margin: 0;
    font-size: larger;
}

.newBookForm {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 8px;
    margin: 8px;
}
.formHidden {
    display: none;
}

.formShown {
    display: block;
}

.formPair {
    margin: auto 0;
}
input {
    box-sizing: border-box;
    width: 150px;
}

input[type="checkbox"] {
    width: fit-content;
}
